@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            
            <AuthorizeView>
                @*Si no estas logeado te aparece el boton para login*@
                <NotAuthorized>
                    <a href="/Login">Iniciar Sesi&oacute;n</a>
                </NotAuthorized>
                @*Si estas logeado pues te deslogeas*@
                <Authorized>
                    <a href="/Logout">Cerrar Sesi&oacute;n</a>
                </Authorized>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ha ocurrido un error al cargar la pagina...
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>
